li, button {
    display: inline-block;
}
li {
    background: rgb(2, 2, 2);
    width: 189px;
    margin-left: 25px;
    margin-top: 10px;
}
.delete-btn {
    opacity: 0.1;
}
.delete-btn:hover {
    opacity: 1;
    background: rgb(2, 2, 2) !important;
}
